extends layout

block head
    link(rel='stylesheet', href='/javascripts/image-tags/css/image-tags.css')
    script(src='/javascripts/image-tags/js/image-tags.js')
    script(src='/javascripts/fashun.js')

block body
    .image
        h1.fashun-title= fashun.name

        img(src="#{fashun.imageURL}")
        .fashun-author
            h1.fashun-author= fashun.userDisplayName
            .clear

    script
        $('.image').image_tag({
            tags: !{JSON.stringify(tags)},
            callback: function(tag) {
                console.log(tag)
                tag.args.fashunRowKey = '#{fashun.RowKey}';
                $.post('/tags/add', {
                    'rowkey': '#{fashun.RowKey}',
                    'tag': JSON.stringify(tag.args)
                })
                .done(function() {
                    tag.riderbox.text('#{fashun.userDisplayName}');
                });
            }
        });
